.button {
  cursor: pointer;
  background-color: initial;
  appearance: none;
  border: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 32px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(193, 199, 208, 0.02) 100%), #ffffff;
  box-shadow:
    0px 1px 2px rgba(164, 172, 185, 0.24),
    0px 0px 0px 1px rgba(18, 55, 105, 0.08);
  color: var(--main-color-white);
  padding: 0 12px;
  gap: 10px;
  transition: all 250ms ease;

  &:hover {
    background: var(--color-dark-gray);
  }
}

.primary {
  color: var(--color-white);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(193, 199, 208, 0.02) 100%), var(--color-blue);
  box-shadow:
    0px 1px 2px rgba(57, 89, 204, 0.5),
    0px 0px 0px 1px #4665d2;

  &:hover {
    background: var(--color-blue-alpha-100);
  }
}

.success {
  background: var(--static-coolor-green);
}

.info {
  background: var(--static-coolor-blue);
}

.text {
  background: inherit;
  color: var(--static-coolor-blue);

  &:hover {
    background: inherit;
    color: var(--static-coolor-orange);
  }
}

.fullWidth {
  width: 100%;
}
